@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: Pretendard, sans-serif;
}

html {
    font-size: 16px;
    height: 100%;
}

body {
    background-color: #1A1A1A;
    color: #E5E5E5;
    height: 100%;
}

#app {
    height: 100%;
}
